body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.hero {
    height: 60vh;
}

.f-work-sans-700 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.f-work-sans-400 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}